:root {
--white-logo-mcec: azure;
--white-text: white;
--grey-text: rgb(233, 233, 233);

}

body, html {
    background-image: radial-gradient(circle, #0f15417d 0%, #0f1541 45%, #0f15418e 70%, #0f154100 100%);
    font-family: Poppins;
    font-style: normal;
    min-width: 100%;
    min-height: fit-content;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
/* Animations */
@keyframes mcec {
    0% {
    }
    50% {
      bottom: 55px;
    }
  
    100% {
    }
  }
.bodyfloat {
    background-color: #080d36b6;
    width: 85vw;
    margin: 40px;
    padding: 50px 0 60px 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 0 40px #dbe3e711;
     
}
.centralmclogo {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    
}
.mclogoimg {
    height: 100px;
    margin: 50px;
}

.textwhite {
  color: var(--white-logo-mcec);
}



.titleprincipal {
    width: fit-content;
}
.titleprincipalh2 {
    color: var(--white-text);
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: poppins;
    letter-spacing: -0.2px;
    line-height: 27px;
    
}
.titleprincipalh3 {
  color: var(--grey-text);
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 50px;
  font-size: 18px;
  font-weight: 400;
  font-family: poppins;
}
.boxesinformation {
    border:0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    
}
.boxes1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    
    
}
.divdivboxesinfo {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
        margin: 20px 30px;

    
}
.divboxesinfo {
    height: 250px;
    width: 250px;
    background-color: aliceblue;
    border-radius: 25px;
    box-shadow: 0 0 20px #01062c;
    border-bottom: 10px;
    transition: ease-out 150ms;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 5px;
    
}
.proximamenteindexcongre {
  height: 35px;
  width: 85%;
  background-color: red;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
 
  
}
.proximamenteindexcongrepage {
  height: 35px;
  width: 170px;
  background: red;
  border-radius: 20px;
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  
}
#divco25 {
  padding-right: 20px;
  border-right: solid 2px red;
  display: flex;
  align-items: center;
}
#cocongreso25 {
  translate: 0 -35px;
}


.proxi {
  display: flex;
  font-size: 13px;
  font-weight: 500;
  color: white;
  
}
.infoboxesinfo {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.titulodivs {
    padding: 0;
    margin: 0;
    color: var(--white-logo-mcec);
    font-weight: 400;
    text-align: center;
    line-height: 18px;
}
/* IMMAGENES */
#movievan {
    background-image: url(movimientoevangelistico.png);
    background-size: cover;
    background-position: center;
}
#cenadelseñor {
    background-image: url(Cenadelseñor.jpg);
    background-size: cover;
    background-position: center;
}
#discimuje {
    background-image: url(seminariomujeres.jpg);
    background-size: 112%;
    background-position: top left;
}
#servidomi {
    background-image: url(Somos.png);
    background-size: cover;
    background-position: bottom;
}
#adiest {
    background-image: url(Adiestramiento.png);
    background-size: cover;
    background-position: center;
}
#discip {
    background-image: url(discipulado.png);
    background-size: cover;
    background-position: bottom;
}
#oraado {
  background-image: url(Adoracion.png);
  background-size: cover;
  background-position: bottom;
}


/* Eventos pasados */
.boxespastevents {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.titlepast {
    width: 100%;
    justify-content: center;
}
.titlepasth2 {
    text-align: center;
    color: var(--white-text);
    font-size: 30px;
}

/* Eventos pasados IMAGENES */
#congreso25 {
    background-image: url(congreso25-169.png);
    background-size: cover;
    background-position: center;
}
#congreso24 {
    background-image: url(congreso24.png);
    background-size: cover;
    background-position: center;
}
#congreso23 {
    background-image: url(congreso23.png);
    background-size: cover;
    background-position: center;
}

/* Social */
.socialandmore {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socialh2 {
    color: var(--white-text);
    text-align: center;
    margin: -5px;
}
.titlesocial {
    height: fit-content; 
    justify-content: center;
     margin: 0;
     padding: 0;
}
.socialp {
    color: var(--grey-text);
    font-weight: 400;
}
.logossocialdown {
    width: 50%;
    margin: 0 30%;
    display: flex;
    justify-content: space-evenly;
}
.logosdown {
    height: 25px;
}

/* Hover todo */
.divboxesinfo:hover {
    transform: scale(1.02) translateY(-15px);
    background-size: cover;
    box-shadow: 0 10px 30px 0 #ca5f02d2, 0 -10px 30px 0 #ebbe0d;
}

/* Logo float */
.divlogofloat {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: fixed;
    bottom: 25px;
    right: 20px;
    animation: mcec 4500ms infinite;
}
.a25 {
  display: flex;
  justify-content: center;
}
.logofloat {
    display: flex;
    justify-content: space-around;
    height: 60px;
    padding: 20px 10px;
    background-color: #212b4b;
    border-radius: 100%;
    border: 3px solid #a14d04;
    
    
}
.congreh4aviso {
    color: var(--white-text);
    margin: 7px;
    text-align: center;
    text-shadow: 0 0 5px  #ac9d51bc;

   
}
.encuentranostitle {
 text-align: center;
 color: var(--white-text);
}
.encuentranosdiv {
  width: 90%;
}
.mapsinicio {
  width: 70vw;
  border-radius: 20px;
}

/* ScroolBar */

/* Estilo general del scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
    background-color: #ffffff00; /* Fondo de la barra */
    
}

/* Estilo de la parte móvil del scrollbar */
::-webkit-scrollbar-thumb {
    background-color: #9b9b9b; /* Color del "thumb" (la parte que se arrastra) */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid white; /* Espacio entre el thumb y el borde */
    box-shadow: 0 0 5px wheat;
}


/* MEDIASCREEN */
@media only screen and (max-width: 767px) {
    .bodyfloat {
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        overflow: hidden;
    }
    .titleprincipal {
      margin: 10px;
    }
    .socialp {
        padding: 0 25px;
        text-align: center;
    }
    .divlogofloat {
        scale: 0.7;
        bottom: 0px;
        right: 0px;
        margin: 0;
      
    }
    .divdivboxesinfo {
        margin: 10px;
    }
    .divboxesinfo {
        height: 40vw;
        width: 40vw;
        
    }
    .infoboxesinfo {
        width: 37vw;
    }
    .titlepasth2 {
        font-size: 23px;
    }
    #divco25 {
      padding-right: 0px;
      padding-bottom: 20px;
      border-right: none;
      border-bottom: solid 2px red;
      display: flex;
      align-items: center;
    }
    .proximamenteindexcongrepage {
      margin-left: 0;
      margin-top: 15px;
    }
    .proximamenteindexcongre {
      width: 75%;
      height: 30px;
      align-items: center;
    }
    .mapsinicio {
      height: 350px;
      width: 80vw;
    }
  
  }



/* Congreso 2025 */
#congreso2025 {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    background-color: white;
    padding-bottom: 0px;

}

.boton-keys-movil {
    display: none;
  }
  .binfopelis {
    font-weight: 600;
  }
  .superior-div-info-keys {
    width: 90%;
    display: flex;
    padding: 10px 5% 0px 5%;
    justify-content: space-between;
  }
  .peli-social-info {
    width: max-content;
    display: flex;
    align-items: end;
    height: fit-content;
  }
  
  
  .todopeliinf {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 40px;
    margin-bottom: 60px;
  }
  .portadapeliinfo {
    display: grid;
    justify-content: center;
    margin-top: 20px;
    padding-left: 40px;
    width: 55vw;
  }
  /* PeliPort Shadow and more */
  .peliport {
    border-radius: 20px;
    max-width: 45vw;
    min-height: 20vw;
    border: transparent;
  }
  
  #peliport-congreso25  {
    box-shadow: -8px 8px 90px 3px #154779, 8px -8px 90px 0px #f1c860;
  }
  #peliport-congreso24  {
    box-shadow: -8px 8px 90px 0px #9ecbc4, 8px -8px 90px 0px #8d475d;
  }
  #peliport-congreso23  {
    box-shadow: -8px 8px 90px 0px #8b916b, 8px -8px 90px 0px #efdec4;
  }
  #peliport-movevan {
    box-shadow: -25px 0px 90px 0px #215155, 8px -8px 90px 0px #c05c33;

  }
  
  /* End PeliPort */
  
  
  .infopeliinfo {
    width: 45vw;
    height: auto;
    display: grid;
    justify-items: center;
  }
  .titulopeliinfo {
    text-transform: uppercase;
    padding-left: 40px; 
    margin-bottom: -5px;
    width: max-content;
   
  }
  .nombre-peli {
    width: fit-content;
  }

 
 
 



  .contenedor {
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
    background-image: linear-gradient( #0f1541 75%, #0f1541c2 80%, white 100%);
    display: flex;
    height: 115px;
    justify-content: center;
    
  }
  
  
  .logosa {
    display: flex;
    flex-direction: column;
  }
  .ctitle {
    display: flex;
    justify-content: center;
    
  }
  .logo {
    height: 80px;
    width: auto;
    justify-content: center;


  }
  .boton-regresar {
    padding: 7px 35px;
    border: 3px solid #a14d04;
    text-decoration: none;
    border-radius: 24px;
    font-weight: 500;
    transition: 150ms;
    color: #a14d04;
  }
  .boton-regresar:hover {
    background-color: #a14d04;
    color: white;
  }
  .descinfo {
    padding: 30px 50px 50px 0;
    margin: 0;
    width: 90%;
}
  .inscribetediv {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 70px 0 0 0;
    padding: 0;
    width: 90%;
    border-radius: 20px;
    padding-left: 15px;
  }
  .textinscribete {
    border-left: 2px solid #a14d04;
    padding-left: 20px;
    text-shadow: 0px 0px 20px #a14d044d;
    font-family: poppins;
  }
  a {
    text-decoration: none;
    
  }
  
  .wrapper {
    padding: 1.5rem 0;
    -webkit-filter: url('#goo');
            filter: url('#goo');
    margin-bottom: -10px;
}

.button {
    display: inline-block;
    text-align: center;
    background: #a14d04;
    color: white;
    font-weight: 600;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: poppins;
    font-size: 1.25rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: #01062c;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    -webkit-transform: scale(0);
            transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    -webkit-transform: none;
            transform: none;
}


.buttonr {
    display: inline-block;
    text-align: center;
    background: #080e3c;
    color: white;
    font-weight: 600;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 6.23em;
    text-decoration: none;
    font-family: poppins;
    font-size: 1.25rem;
}

.buttonr:before,
.buttonr:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: #a14d04;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    -webkit-transform: scale(0);
            transform: scale(0);
    z-index: -1;
}

.buttonr:before {
    top: -25%;
    left: 20%;
}

.buttonr:after {
    bottom: -25%;
    right: 20%;
}

.buttonr:hover:before,
.buttonr:hover:after {
    -webkit-transform: none;
            transform: none;
}
.informacioncongre2025 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
}
.h2infocon {
  text-align: center;
}
.infocon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 100%;
}

.divinfocon25 {
  border-top: #01062c solid 3px;
  margin: 70px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}
.h2h2info25 {
  text-align: center;
  color: #a14d04;
}
.implementos {
  height: 60%;
  width: 60%;
}
.maps25 {
  border-radius: 20px;
  
}
#info1 {
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 40px;
}
#info2 {
  background-color: #f0f0f0;
  border-radius: 40px;
  padding: 30px;
  
}
#info22 {
  display: flex;
}


  @media only screen and (max-width: 767px) {

    .superior-div-info-keys {
      display: grid;
      width: auto
      
     
      
    }
    .nombre-peli{
      width: 90vw;
      display: flex;
      justify-content: center;
      
      
    }
    .peli-social-info {
      flex-direction: column;
      align-items: center;
    }
    .titulopeliinfo {
      text-align: center;
      margin: 0px;
      padding: 0px;
      line-height: 35px;
      
    }
    .titulopeliinfo {
      font-size: 35px;
    }
    
    .boton-regresar {
      display: none;
    }
    .boton-keys-movil {
      display: grid;
      position: fixed;
      height: auto;
      width: auto;
      justify-items: center;
      bottom: 15px;
      transition: 150ms;
    } 
    .boton-keys-movil:hover {
      scale: 1.07;
    }
    .keys-regresar-movil {
      width: 30px;
      background-color: #a14d04;
      border-radius: 100%;
      border: 10px solid #a14d04;
      
      
  
    }
    .regresar-back-keys {
      color: #a14d04;
      font-weight: 500;
      margin-top: 3px;
    
      
    }
    .todopeliinf {
      width: 100%;
      display: grid;
      justify-items: center;
    }
    .portadapeliinfo {
      display: flex;
      width: 90%;
      height: auto;
      margin: 0px;
      padding: 0px;
      justify-content: center;
    }
    .peliport {
      width: 95%;
      height: auto;
      max-width: none;
      min-height: none;
    }
  
    .infopeliinfo {
      width: 90%;
    }
   .descinfo {

    padding: 30px 0px;
   }
   .textinscribete {
    border-left: none;
    border-top: 2px solid #a14d04;
    padding: 10px 0 0 0;
    text-align: center;
   }
    
   .inscribetediv {
    margin: 0px 0 0 0;
   }
   .informacioncongre2025 {
    flex-direction: column;
   }
   .infocon {
    width: 100%;
    margin-bottom: 20px;
   }
   .maps25 {
    width: 100%;
   }
   #info1 {
    padding: 0;
   }
   #info2 {
    padding: 10%;
    width: 80%;
   }
   #info22 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
  }



  /* Contenido Multimedia */
  #bodyfloat-congreso24 {
    padding-bottom: 70px;
  }
  .generaldiv-multi {
    border-top: solid 2px #a14d04;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 70px;
    justify-content: center;
  }
.title-multi {
  color: #0f1541;
  font-weight: 700;
  font-size: 24px;
}
.contenidomultimedia {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  
}
.conferencias {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .reproductor-face {
    border-radius: 10px;
  }
  .conferenciatitle-multi {
    font-weight: 600;
    text-align: center;
    width: 100%;
  }
.publicacionesdiv {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.publicaciones {
  width: 40%;
}
.publicacioness {
  width: 100%;
  height: auto;
}
.contenidomultimediaphotos {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 60px;
}


  @media only screen and (max-width: 767px) {
    .generaldiv-multi {
      display: flex;
      flex-direction: column;
      justify-items: center;
    }
    .contenidomultimedia {
      display: grid;
      width: 95%;
      justify-content: center;
      height: fit-content;
    }
    .conferencias {
      width: 100%;
    }
    .publicaciones {
      flex-direction: column;
      width: 90%;
      margin-bottom: 40px;

    }
    .publi-face {
      scale: 0.7;
    }
    .publicacionesdiv {
      flex-direction: column;
      align-items: center;
    }
  }

  /* Movimiento Evangelistico */
  #movevandivmulti {
    border: none;
  }
  #movevan-multimedia {
    flex-direction: column;
    width: 100%;
    justify-content: space-around;

  }
  #contemultimovevanconfe {
    width: 100%;
  }
 
  .conferenciasmovevan {
    width: 45%;
  }
  #movevan-multimedia {
    margin-bottom: 70px;
  }
  
  @media only screen and (max-width: 767px) {
    .conferenciasmovevan {
      width: 100%;
    }
}

.divdownp {
  margin: 30px;
}
.downerpm {
  color: #999999c6;
  line-height: 0;
  margin-top: 0px;
  text-align: center;
    font-size: 13px;
}
